# Config for Dependabot updates. See Documentation here:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Update GitHub actions in workflows
  - package-ecosystem: 'github-actions'
    directory: '/'
    # Every weekday
    schedule:
      interval: 'daily'
    groups:
      github-actions:
        patterns:
          - '*'

  # Enable version updates for Python/uv
  - package-ecosystem: 'uv'
    # Look for a `pyproject.toml` in the `root` directory
    directory: '/'
    # Every weekday
    schedule:
      interval: 'daily'
    ignore:
      # Django 6.0 not yet supported by django-celery-beat
      # Remove after https://github.com/cookiecutter/cookiecutter-django/pull/6233
      - dependency-name: 'django'
        versions: [ '6' ]
    groups:
      python:
        update-types:
          - 'minor'
          - 'patch'
